<link rel="stylesheet" href="/stylesheets/footer.css">

<div class="container-rodape">
  <div class="rodape">

    <div class="rodape-conteudo">

        <div class="rodape-logo">
          <img src="/images/logo.png" alt="logo">
        </div>

        <div class="rodape-periodos">
          <h4>Períodos</h4>
          <a href="/periodo/p1" target="_self"><p class="p-periodos">P1</p></a>
          <a href="/periodo/p2" target="_self"><p class="p-periodos">P2</p></a>
          <a href="/periodo/p3" target="_self"><p class="p-periodos">P3</p></a>
          <a href="/periodo/p4" target="_self"><p class="p-periodos">P4</p></a>
          <a href="/periodo/p5" target="_self"><p class="p-periodos">P5</p></a>
          <a href="/periodo/p6" target="_self"><p class="p-periodos">P6</p></a>
        </div>

        <div class="rodape-contato">
          <h4>Contato</h4>
          <a href="/" target="_self"><p class="infor-contato">Central de ajuda</p></a>
          <a href="/" target="_self"><p class="infor-periodos">Trabalhe Conosco</p></a>
          <a href="/" target="_self"><p class="infor-periodos">Imprensa</p></a>
        </div>

        <div class="rodape-sobre">
          <h4>Sobre</h4>
          <a href="/" target="_self"><p class="infor-sobre">Sobre o StudyShare</p></a>
        </div>

    </div>

    <div class="rodape-redesSociais">
      <div class="redesSociais">
        <img src="/images/email.png" alt="rede">
        <img src="/images/facebook.png" alt="rede">
        <img src="/images/instagram.png" alt="rede">
        <img src="/images/twitter.png" alt="rede">
        <img src="/images/linkedin.png" alt="rede">
      </div>
    </div>

    <div class="rodape-direitos">
      <div class="r-direitos">
        <p class="direitos">©2024 StudyShare</p>
        <p class="direitos">Termos de uso</p>
        <p class="direitos">Política de Privacidade</p>
        <p class="direitos">Aviso de cookies</p>
      </div>
    </div>

  </div>

</div>