<!-- •adicionar rotas depois de criar as views de cada disciplina 
•(não responsivo)-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown Menu</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        * {
            padding: 0;
            margin: 0;
            font-family: 'Poppins', monospace;
        }
        ul {
            list-style: none;
            background: #191970;
            justify-content: space-between;
            display: flex;
        }
        ul li {
            display: inline-block;
            position: relative;
          
        }


ul li:first-child {
margin-right:auto;
}
      ul li:last-child {
margin-left:auto;
      }
      
        ul li a {
            display: block;
            padding: 15px 20px;
            color: #FFF;
            text-decoration: none;
            text-align: center;
            font-size: 15px;
        }
        ul li ul.dropdown li {
            display: block;
        }
        ul li ul.dropdown {
            width: 100%;
            background: #191970;
            position: absolute;
            z-index: 999;
            display: none;
            width: max-content;
            border-radius:4px;
            transition: all 0.4s ease;
        }
        ul li a:hover {
            background: #FFF;
        }
        ul li:hover ul.dropdown {
            display: block;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Início</a></li>
            <li>
                <a href="#">P1▾</a>
                <ul class="dropdown">
                    <li><a href="#">Introdução a Programação</a></li>
                </ul>
            </li>

   <li>
       <a href="#">P2▾</a>
                <ul class="dropdown">
                    <li><a href="#">Administração de S.O</a></li>
                    <li><a href="#">Fundamentos da Programação 1</a></li>
                  
                </ul>
            </li>

<li>
    <a href="#">P3▾</a>
                <ul class="dropdown">
                    <li><a href="#">Fundamentos da Programação II</a></li>
                    <li><a href="#">Programação orientada a objetos</a></li>
                </ul>
            </li>

<li>
    <a href="#">P4▾</a>
                <ul class="dropdown">
                    <li><a href="#">Banco de Dados</a></li>
                    <li><a href="#">MFDS</a></li>
                     <li><a href="#">Prática Profissional I </a></li>
                    <li><a href="#">Redes de Computadores</a></li>
                    <li><a href="#">Programação de Dispositivos Móveis I</a></li>
                </ul>
            </li>


<li>
    <a href="#">P5▾</a>
                <ul class="dropdown">
                    <li><a href="#">Prática Profissional II</a></li>
                    <li><a href="#">Programação de Dispositivos Móveis II</a></li>
                     <li><a href="#">Programação Web I </a></li>
                    <li><a href="#">Eletrônica</a></li>
                </ul>
            </li>

<li>
    <a href="#">P6▾</a>
                <ul class="dropdown">
                    <li><a href="#">Programação Web II</a></li>
                    <li><a href="#">Segurança cibernética</a></li>
                     <li><a href="#">Prática Profissional III</a></li>
                   
                </ul>
  <li><a href="#">Entrar</a></li>
            </li>
        </ul>
      
    </nav>
</body>
</html>