<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/login.css">
<title>Cadastro Bem-Sucedido</title>
</head>
<body>

  <div class="container">
    <div class="lado-esquerdo">
      <video autoplay muted loop class="video-background">
        <source src="/images/login.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="conteudo-lado-esquerdo">
        <div class="logo">
          <a href="/"><img src="/images/logo.png" alt="Logo"></a>
        </div>
      </div>
    </div>

    <div class="lado-direito">
      <div class="login-form">
   
        
       <!-- <h3><%= success_msg %></h3>
        <div class="login">
          <p>Parabéns! Sua conta foi criada com sucesso. Você já pode acessar sua conta e começar a explorar o StudyShare. <a href="/login">Clique aqui para fazer login.</a></p>-->

          <h3>Cadastro Concluído!</h3>
          <p>Parabéns! Sua conta foi criada com sucesso.</p>
          <p> Você já pode acessar sua conta e começar a explorar o StudyShare.</p>
          <a href="/login">Clique aqui para fazer login.</a>

          
        </div>
      </div>
    </div>
  </div>

</body>
</html>
