<link rel="stylesheet" href="/stylesheets/entrar.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="/stylesheets/login.css">
<script src="/javascripts/login.js"></script>
<%- include('./partials/navBarSemLogin.ejs') %>

  <body>
  <!-- partial:index.partial.html -->
  <!-- LOGIN MODULE -->

    <section>
          <div class="login">
              <div class="wrap">
                  <!-- TOGGLE -->
                  <div id="toggle-wrap">
                      <div id="toggle-terms">
                          <div id="cross">
                              <span></span>
                              <span></span>
                          </div>
                      </div>
                  </div>
                  <!-- TERMS -->
                  <div class="terms">
                      <h2>Termos de serviço StudyShare</h2>
                      <p class="small">Última modificação: Março 23, 2024</p>
                      <h3>Bem-vindo ao StudyShare</h3>
                      <p>Ao utilizar nossos Serviços, você concorda com estes termos. Por favor, leia-os com atenção.</p>
                      <p>Nossos serviços são muito diversos, portanto, às vezes, termos adicionais ou requisitos de produto (incluindo requisitos de idade) podem ser aplicados. Termos adicionais estarão disponíveis com os Serviços relevantes, e esses termos adicionais tornar-se-ão parte do seu contrato conosco se você usar esses Serviços.</p>
                      <h3>Usando nossos serviços</h3>
                      <p>Você deve seguir todas as políticas disponibilizadas a você nos Serviços.</p>
                      <p>O uso de nossos Serviços não lhe confere a propriedade de quaisquer direitos de propriedade intelectual sobre nossos Serviços ou sobre o conteúdo que você acessa. Você não poderá usar o conteúdo de nossos Serviços, a menos que obtenha permissão do proprietário ou seja permitido por lei. Estes termos não concedem a você o direito de usar qualquer marca ou logotipo usado em nossos Serviços. Não remova, oculte ou altere quaisquer avisos legais exibidos em ou junto com nossos Serviços.</p>
                      <p>Em conexão com o seu uso dos Serviços, poderemos enviar-lhe anúncios de serviços, mensagens administrativas e outras informações. Você pode cancelar algumas dessas comunicações.</p>
                      <h3>Sua conta StudyShare</h3>
                      <p>Você pode precisar de uma conta dp para usar alguns de nossos serviços. Você pode criar sua própria conta dp, ou sua conta StudyShare pode ser atribuída a você por um administrador, como seu empregador ou instituição educacional. Se você estiver usando uma conta dp atribuída a você por um administrador, termos diferentes ou adicionais poderão ser aplicados e seu administrador poderá acessar ou desativar sua conta.</p>
                      <p>Para proteger sua conta StudyShare, mantenha sua senha confidencial. Você é responsável pela atividade que acontece na sua conta dp ou através dela. Tente não reutilizar a senha da sua conta StudyShare em aplicativos de terceiros.</p>
                      <h3>Privacidade e proteção de direitos autorais</h3>
                      <p>As políticas de privacidade da StudyShare explicam como tratamos os seus dados pessoais e protegemos a sua privacidade quando utiliza os nossos Serviços. Ao utilizar nossos Serviços, você concorda que a StudyShare pode usar esses dados de acordo com nossas políticas de privacidade.</p>
                      <p>Respondemos a notificações de supostas violações de direitos autorais e encerramos contas de infratores reincidentes de acordo com o processo estabelecido na Lei de Direitos Autorais, ou Lei nº 9.610/1998.</p>
                      <p>Fornecemos informações para ajudar os detentores de direitos autorais a gerenciar sua propriedade intelectual on-line. Se você acha que alguém está violando seus direitos autorais e deseja nos notificar, você pode encontrar informações sobre como enviar avisos e a política do StudyShare sobre como responder a avisos em nossa Central de Ajuda.</p>
                      <h3>Modificando e rescindindo nossos serviços</h3>
                      <p>Estamos constantemente mudando e melhorando nossos serviços. Podemos adicionar ou remover funcionalidades ou recursos e podemos suspender ou interromper completamente um Serviço.</p>
                      <p>Você pode parar de usar nossos Serviços a qualquer momento, mas lamentaremos sua partida. A StudyShare também pode parar de fornecer Serviços a você ou adicionar ou criar novos limites aos nossos Serviços a qualquer momento.</p>
                      <p>Acreditamos que você é o proprietário dos seus dados e preservar o seu acesso a esses dados é importante. Se descontinuarmos um Serviço, sempre que razoavelmente possível, iremos notificá-lo com antecedência razoável e teremos a oportunidade de obter informações desse Serviço.</p>
                      <h3>Nossas garantias e isenções de responsabilidade</h3>
                      <p>Fornecemos nossos Serviços usando um nível comercialmente razoável de habilidade e cuidado e esperamos que você goste de usá-los. Mas há certas coisas que não prometemos sobre os nossos Serviços.</p>
                      <p>ALÉM DO EXPRESSAMENTE ESTABELECIDO NESTES TERMOS OU EM TERMOS ADICIONAIS, NEM A StudyShare NEM SEUS FORNECEDORES OU DISTRIBUIDORES FAZEM QUALQUER PROMESSA ESPECÍFICA SOBRE OS SERVIÇOS. POR EXEMPLO, NÃO ASSUMIMOS NENHUM COMPROMISSO SOBRE O CONTEÚDO DOS SERVIÇOS, AS FUNÇÕES ESPECÍFICAS DOS SERVIÇOS OU SUA CONFIABILIDADE, DISPONIBILIDADE OU CAPACIDADE DE ATENDER ÀS SUAS NECESSIDADES. FORNECEMOS OS SERVIÇOS “COMO ESTÃO”.</p>
                      <p>ALGUMAS JURISDIÇÕES FORNECEM CERTAS GARANTIAS, COMO A GARANTIA IMPLÍCITA DE COMERCIALIZAÇÃO, ADEQUAÇÃO A UM DETERMINADO FIM E NÃO VIOLAÇÃO. NA MEDIDA PERMITIDA POR LEI, EXCLUÍMOS TODAS AS GARANTIAS.</p>
                      <h3>Responsabilidade pelos nossos serviços</h3>
                      <p>QUANDO PERMITIDO POR LEI, a StudyShare, E OS FORNECEDORES E DISTRIBUIDORES DA StudyShare, NÃO SERÃO RESPONSÁVEIS POR PERDAS DE LUCROS, RECEITAS OU DADOS, PERDAS FINANCEIRAS OU DANOS INDIRETOS, ESPECIAIS, CONSEQUENCIAIS, EXEMPLARES OU PUNITIVOS.</p>
                      <p>NA MEDIDA PERMITIDA POR LEI, A RESPONSABILIDADE TOTAL DA StudyShare'S E DE SEUS FORNECEDORES E DISTRIBUIDORES, POR QUAISQUER RECLAMAÇÕES SOB ESTES TERMOS, INCLUINDO QUAISQUER GARANTIAS IMPLÍCITAS, ESTÁ LIMITADA AO VALOR QUE VOCÊ PAGOU PARA UTILIZAR OS SERVIÇOS (OU, SE ESCOLHERMOS , PARA FORNECER OS SERVIÇOS NOVAMENTE).</p>
                      <p>EM TODOS OS CASOS, A StudyShare, E SEUS FORNECEDORES E DISTRIBUIDORES, NÃO SERÃO RESPONSÁVEIS POR QUALQUER PERDA OU DANO QUE NÃO SEJA RAZOAVELMENTE PREVISÍVEL.</p>
                      <h3>Sobre estes Termos</h3>
                      <p>Poderemos modificar estes termos ou quaisquer termos adicionais que se apliquem a um Serviço para, por exemplo, refletir alterações na lei ou alterações nos nossos Serviços. Você deve consultar os termos regularmente. Publicaremos avisos de modificações nestes termos nesta página. Publicaremos um aviso sobre os termos adicionais modificados no Serviço aplicável. As alterações não serão aplicadas retroativamente e entrarão em vigor no máximo quatorze dias após serem publicadas. No entanto, alterações relativas a novas funções de um Serviço ou alterações feitas por motivos legais entrarão em vigor imediatamente. Se você não concordar com os termos modificados de um Serviço, deverá interromper o uso desse Serviço.</p>
                      <p>Se você não cumprir estes termos e nós não tomarmos medidas imediatas, isso não significa que estamos abrindo mão de quaisquer direitos que possamos ter (como tomar medidas no futuro).</p>
                      <p>As leis brasileiras, excluindo as regras de conflito de leis, serão aplicadas a quaisquer disputas decorrentes ou relacionadas a estes termos ou aos Serviços. Todas as reivindicações decorrentes ou relacionadas a estes termos ou aos Serviços serão litigadas exclusivamente nos tribunais federais ou estaduais do local de domicílio do réu, e você e a StudyShare concordam com a jurisdição pessoal desses tribunais.</p>
                      <p>Para obter informações sobre como entrar em contato com a StudyShare, visite nossa página de contato.</p>
                  </div>

                  <!-- RECOVERY -->
                  <div class="recovery">
                      <h2>Recuperação de senha</h2>
                      <p>Digite o <strong>endereço de email</strong> ou <strong>nome de usuário</strong> da conta e <strong>clique em Enviar</strong></p>
                      <p>Enviaremos por e-mail instruções sobre como redefinir sua senha.</p>
                      <form class="recovery-form" action="" method="post">
                          <input type="text" class="input" id="user_recover" placeholder="Digite e-mail ou nome de usuário aqui">
                          <input type="submit" class="button" value="Enviar">
                      </form>
                      <p class="mssg">Um e-mail foi enviado para você com mais instruções.</p>
                  </div>

                  <!-- SLIDER -->
                  <div class="content">
                      <!-- LOGO -->
              
                      <!-- SLIDESHOW -->
                      <div id="slideshow">
                          <div class="one">
                          </div>
                      </div>
                  </div>
                  <!-- LOGIN FORM -->
                  <div class="user">
                      <!-- ACTIONS
                      <div class="actions">
                          <a class="help" href="#signup-tab-content">Sign Up</a><a class="faq" href="#login-tab-content">Login</a>
                      </div>
                      -->
                      <div class="form-wrap">
                          <!-- TABS -->
                        <div class="tabs">
                              <h3 class="login-tab"><a class="log-in active" href="#login-tab-content"><span>Logar<span></a></h3>
                          <h3 class="signup-tab"><a class="sign-up" href="#signup-tab-content"><span>Cadastre-se</span></a></h3>
                        </div>
                          <!-- TABS CONTENT -->
                        <div class="tabs-content">
                              <!-- TABS CONTENT LOGIN -->
                          <div id="login-tab-content" class="active">
                            <form class="login-form" action="" method="post">
                              <input type="text" class="input" id="user_login" autocomplete="off" placeholder="Email ou nome de usuário">
                              <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Senha">
                              <input type="checkbox" class="checkbox" checked id="remember_me">
                              <label for="remember_me">Me Lembre</label>
                              <input type="submit" class="button" value="Logar">
                            </form>
                            <div class="help-action">
                              <p><i class="fa fa-arrow-left" aria-hidden="true"></i><a class="forgot" href="#">Esqueceu sua senha?</a></p>
                            </div>
                          </div>
                              <!-- TABS CONTENT SIGNUP -->
                          <div id="signup-tab-content">
                            <form class="signup-form" action="" method="post">
                              <input type="email" class="input" id="user_email" autocomplete="off" placeholder="Email">
                              <input type="text" class="input" id="user_name" autocomplete="off" placeholder="Nome de usuário">
                              <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Senha">
                              <input type="submit" class="button" value="Cadastre-se">
                            </form>
                            <div class="help-action">
                              <p>Ao se inscrever, você concorda com nossos</p>
                              <p><i class="fa fa-arrow-left" aria-hidden="true"></i><a class="agree" href="#">Termos de serviço</a></p>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </section>
  <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script><script  src="./script.js"></script>

  </body>
  </html>
