<%- include('./partials/navBarSemLogin.ejs') %>
<link rel="stylesheet" href="/stylesheets/periodos.css">

  <div class="container">

    <div class="nome-periodo">
      <h1>1° Período</h1>
    </div>

  <section>

    <div class="disciplinas">

        <div class="disciplina" name="disciplina">
          <a href="/disciplina/introProg" target="_self">
            <img src="/images/introProg.jpg" alt="introProg">
            <h5>Introdução a Programação</h5>
          </a>
        </div>

      
      </div>
  </section>

  </div>

    <%- include('./partials/footer.ejs') %>

  </body>
  </html>

