<%- include('./partials/navBarSemLogin.ejs') %>
<link rel="stylesheet" href="/stylesheets/periodos.css">

<div class="container">
  
  <div class="nome-periodo">
    <h1>2° Período</h1>
  </div>

<section>
  
  <div class="disciplinas">

      <div class="disciplina" name="disciplina">
        <a href="/disciplina/admso" target="_self">
          <img src="/images/admso.jpg" alt="admso">
          <h5>Administração de Sistemas Operacionais</h5>
        </a>
      </div>

    <div class="disciplina" name="disciplina">
      <a href="/disciplina/fundProg1" target="_self">
        <img src="/images/fundProg1.jpg" alt="fundProg1">
        <h5>Fundamentos de Programação I</h5>
      </a>
    </div>

    </div>
</section>

  </div>

    <%- include('./partials/footer.ejs') %>

  </body>
  </html>