<%- include('./partials/navBarSemLogin.ejs') %>
<link rel="stylesheet" href="/stylesheets/periodos.css">

<div class="container">

  <div class="nome-periodo">
    <h1>3° Período</h1>
  </div>

<section>

  <div class="disciplinas">

      <div class="disciplina" name="disciplina">
        <a href="/disciplina/fundProg2" target="_self">
          <img src="/images/fundProg2.jpg" alt="fundProg2">
          <h5>Fundamentos de Programação II</h5>
        </a>
      </div>

    <div class="disciplina" name="disciplina">
      <a href="/disciplina/poo" target="_self">
        <img src="/images/poo.jpg" alt="poo">
        <h5>Programação Orientada a Objetos</h5>
      </a>
    </div>

    </div>
</section>

  </div>
 
    <%- include('./partials/footer.ejs') %>
 
  </body>
  </html>