<%- include('./partials/navBarSemLogin.ejs') %>
<link rel="stylesheet" href="/stylesheets/periodos.css">

<div class="container">

  <div class="nome-periodo">
    <h1>4° Período</h1>
  </div>

<section>

  <div class="disciplinas">

      <div class="disciplina" name="disciplina">
        <a href="/disciplina/bd" target="_self">
          <img src="/images/bd.jpg" alt="bd">
          <h5>Banco de Dados</h5>
        </a>
      </div>

    <div class="disciplina" name="disciplina">
      <a href="/disciplina/mfds" target="_self">
        <img src="/images/mfds.jpg" alt="mfds">
        <h5>Métodos e Ferramentas para <br>Desenvolvimento de Software</h5>
      </a>
    </div>

    <div class="disciplina" name="disciplina">
      <a href="/disciplina/pp1" target="_self">
        <img src="/images/pp1.jpg" alt="pp1">
        <h5>Prática Profissional I</h5>
      </a>
    </div>

    <div class="disciplina" name="disciplina">
      <a href="/disciplina/progMoveis1" target="_self">
        <img src="/images/progMoveis1.jpg" alt="progMoveis1">
        <h5>Programação de Dispositivos Móveis I</h5>
      </a>
    </div>

    <div class="disciplina" name="disciplina">
      <a href="/disciplina/redes" target="_self">
        <img src="/images/redes.jpg" alt="redes">
        <h5>Redes de Computadores</h5>
      </a>
    </div>

    </div>
</section>

  </div>
    <%- include('./partials/footer.ejs') %>
  </body>
  </html>

