<%- include('./partials/navBarSemLogin.ejs') %>
<link rel="stylesheet" href="/stylesheets/periodos.css">

<div class="container">

  <div class="nome-periodo">
    <h1>5° Período</h1>
  </div>

<section>

  <div class="disciplinas">

      <div class="disciplina" name="disciplina">
        <a href="/disciplina/eletroInfo" target="_self">
          <img src="/images/eletroInfo.jpg" alt="eletroInfo">
          <h5>Eletrônica para Informática</h5>
        </a>
      </div>

    <div class="disciplina" name="disciplina">
      <a href="/disciplina/pp2" target="_self">
        <img src="/images/pp2.jpg" alt="pp2">
        <h5>Prática Profissional II</h5>
      </a>
    </div>

    <div class="disciplina" name="disciplina">
      <a href="/disciplina/progMoveis2" target="_self">
        <img src="/images/progMoveis2.jpg" alt="progMoveis2">
        <h5>Programação de Dispositivos Móveis II</h5>
      </a>
    </div>

    <div class="disciplina" name="disciplina">
      <a href="/disciplina/progWeb1" target="_self">
        <img src="/images/progWeb1.jpg" alt="progWeb1">
        <h5>Programação Web I</h5>
      </a>
    </div>

   
    </div>
</section>

  </div>
    <%- include('./partials/footer.ejs') %>
  </body>
  </html>
