<%- include('./partials/navBarSemLogin.ejs') %>
<link rel="stylesheet" href="/stylesheets/periodos.css">

<div class="container">

  <div class="nome-periodo">
    <h1>6° Período</h1>
  </div>

<section>

  <div class="disciplinas">

      <div class="disciplina" name="disciplina">
        <a href="/disciplina/introSegCiber" target="_self">
            <img src="/images/introSegCiber.jpg" alt="introSegCiber">
            <h5>Introdução a Segurança Cibernética</h5>
        </a>
      </div>

    <div class="disciplina" name="disciplina">
      <a href="/disciplina/pp2" target="_self">
        <img src="/images/pp3.jpg" alt="pp2">
        <h5>Prática Profissional III</h5>
      </a>
    </div>

    <div class="disciplina" name="disciplina">
      <a href="/disciplina/progWeb2" target="_self">
        <img src="/images/progWeb2.jpg" alt="progWeb2">
        <h5>Programação Web II</h5>
      </a>
    </div>

    </div>
</section>

  </div>
    <%- include('./partials/footer.ejs') %>
  </body>
  </html>
