body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
overflow-x: hidden;
}

/* Estilo do cabeçalho */
header {
background-color: #203055;
color: #fff;
padding: 15px 25px;
display: flex;
align-items: center;
justify-content: space-between;
position: relative;
width: 100%;
z-index: 100;
transition: all 0.3s ease;
}

header.sticky {
position: fixed;
top: 0;
left: 0;
right: 0;
background-color: #163970; /* Escurecer um pouco a cor */
}

.menu-left, .menu-right {
display: flex;
align-items: center;
}

.menu-right button a {
color: #ffffff;
text-decoration: none;
}

header button {
background-color: transparent;
border: none;
color: white;
padding: 10px 20px;
cursor: pointer;
font-size: 16px;
}

header button:hover {
color: #FCFF4B; /* Amarelo */
}

header button:focus {
outline: none;
box-shadow: none;
}

header .logo img {
width: 170px;
height: auto;
}

/* Estilo do menu lateral */
.sidebar {
height: 100%;
width: 0;
position: fixed;
top: 0;
left: 0;
background-color: #044389;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
z-index: 1000;
}

.closebtn {
position: absolute;
top: 20px;
left: 20px;
font-size: 36px;
background: none;
border: none;
color: white;
cursor: pointer;
padding: 0;
transition: color 0.3s;
}

.closebtn:hover {
color: #FCFF4B; /* Amarelo */
}

.closebtn:focus {
outline: none;
box-shadow: none;
}

.sidebar .logo {
text-align: center;
margin-bottom: 30px;
}

.sidebar .logo img {
width: 200px;
height: auto;
}

.periodos-container {
display: flex;
flex-wrap: wrap;
padding: 20px;
justify-content: center;
}

.periodo {
flex: 1 0 calc(33.33% - 20px);
margin: 10px;
padding: 15px;
background-color: #203055;
border-radius: 8px;
text-align: center;
transition: background-color 0.3s, transform 0.3s;
cursor: pointer;
}

.periodo:hover {
background-color: #203055;
transform: translateY(-5px);
}

.periodo h3 {
color: #FCFF4B;
margin-bottom: 10px;
font-weight: bold;
font-size: 25px;
}

.periodo ul {
list-style-type: none;
padding: 0;
}

.periodo ul li {
padding: 8px 0;
color: #FCFF4B;
transition: color 0.3s;
}

.periodo ul li:hover {
color: #5995ED;
}

.periodo ul li a {
color: #fff;
font-weight: bold;
}

.periodo ul li a:hover {
color: #FCFF4B; /* Amarelo */
}

@media (max-width: 900px) {
.periodo {
flex: 1 0 calc(50% - 20px);
}
}

@media (max-width: 600px) {
.periodo {
flex: 1 0 100%;
}
}

.clearfix::after {
content: "";
clear: both;
display: table;
}

/* Estilos gerais */
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
overflow-x: hidden;
}

@media (max-width: 768px) {
header {
padding: 10px;
flex-direction: column;
align-items: center;
}

.menu-left, .menu-right {
width: 100%;
text-align: center;
margin-top: 10px;
}

.menu-right {
margin-bottom: 20px;
}

.menu-right button {
font-size: 16px;
padding: 12px 20px;
margin-bottom: 5px;
}

header .logo img {
width: 100px;
}
}

/* Estilo do painel de notificações */
.notifications-panel {
position: fixed;
top: 60px; /* Ajuste conforme necessário para a altura do cabeçalho */
right: 20px;
width: 300px;
background-color: #044389;
color: #fff;
border-radius: 8px;
padding: 15px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
display: none;
z-index: 2000; /* Certifique-se de que está acima do menu lateral */
transition: opacity 0.3s ease-in-out;
}

.notifications-panel h3 {
margin: 0;
font-size: 18px;
color: #FCFF4B; /* Amarelo para o título */
}

.notifications-panel ul {
list-style-type: none;
padding: 0;
margin: 10px 0 0;
}

.notifications-panel ul li {
padding: 10px 0;
border-bottom: 1px solid #7CAFC4; /* Linha separadora */
display: flex;
align-items: center;
color: #fff;
}

.notifications-panel ul li i {
margin-right: 10px;
}

.notifications-panel .fade-in {
opacity: 1;
}

.notifications-panel .fade-out {
opacity: 0;
}


/* Caminho de Navegação */
.breadcrumb-container {
padding: 15px 20px;
background-color: #ffffff;
border: 1px solid #ddd;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
margin-bottom: 20px;
}

.breadcrumb-container a {
color: #3498db;
text-decoration: none;
font-size: 16px;
font-weight: 500;
transition: color 0.3s ease;
}

.breadcrumb-container a:hover {
color: #2980b9;
}

.breadcrumb-container .separator {
color: #999;
margin: 0 8px;
}

.breadcrumb-container span {
color: #333;
}

.breadcrumb-container::before {
content: "\f053"; /* Ícone de seta para o lado (FontAwesome) */
font-family: "Font Awesome 5 Free";
font-weight: 900;
color: #999;
margin-right: 8px;
}

.breadcrumb-container span:first-child::before {
content: "";
}

.breadcrumb-container .current {
font-weight: bold;
color: #333;
}

/* Ajustes para telas pequenas */
@media (max-width: 768px) {
.breadcrumb-container {
padding: 10px 15px;
font-size: 14px;
}
}

#logoutBtn {
  background-color: transparent;
  border: none;
  color: #fff; /* Cor do texto */
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}

#logoutBtn a {
  text-decoration: none;
  color: inherit;
}

#logoutBtn i {
  margin-right: 5px; /* Espaço entre o ícone e o texto */
}

#logoutBtn:hover {
  color: #FFAD05; /* Cor ao passar o mouse */
}
