.paleta de cores{
  color:#102B62;
  color:#203055;
  color:#044389;
  color:#0a5bb5;
  color:#1273f3;
  color:#5995ED;
  color:#7CAFC4;
  color:#FCFF4B;
  color:#ffffff;
  color:#000000;
  color:#424242;
  color:#333333;
}